.title {
  text-align: center;
}

.pro-image {
  padding-top: 0.5em;
  margin-right: 0.5em;
  position: relative;
}

.name {
  text-align: center;
}

.text {
  text-align: center;
  margin-left: -2em;
  color: black;
}
