.Footer {
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: #a50948;
  padding-top: 1em;
  text-align: center;
  display: inline-block;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 650px) {
  .Footer {
    width: 100%;
    left: 0;
    margin-top: 5em;
  }

  .hidden {
    display: inline;
  }
}
